table {
    width: 30vw;
    height: 30vw;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}

.logo {
    font-size: 30px;
    width: 9vw;
    height: 9vw;
    background-color: gold;
    text-align: center;
    border-left: none;
    border-top: none;
}

.menu {
    font-size: 30px;
    background-color: red;
    text-align: center;
    border-top: none;
    border-right: none;
}

.news {
    font-size: 30px;
    height: 16vw;
    color: white;
    background-color: brown;
    text-align: center;
    border-left: none;
}

.list {
    width: 14vw;
    font-size: 30px;
    background-color: gold;
    text-align: center;
}

.nav {
    font-size: 30px;
    color: white;
    background-color: black;
    text-align: center;
    width: 7vw;
    border-right: none;
    border-spacing: none;
}

.footer {
    font-size: 30px;
    background-color: gold;
    text-align: center;
    height: 5vw;
    border-bottom: none;
    border-left: none;
}