body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

.cards {
    display: flex;

    width: 100%;
}

/* Card - position */

.card {
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 2;

    min-height: 403px;
    height: auto;
}

/* Card - design */

.card__body {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    align-items: center;
    

    margin: 10px 20px auto;
    padding: 15px;
    
    border-radius: 8px;

    background: rgb(255, 255, 255);
    box-shadow: 0 0 6px 2px rgb(0, 0, 0);
}

.card__image {
    padding-top: 15px;
    text-align: center;
}

/* Card - text */

.text-wrap {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    align-items: flex-start;
}

.card__title {
    display: block;
    width: 100%;
    justify-content: flex-start;

    padding-top: 45px;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    color: #000000;
}

.card__code {
    display: block;
    padding-top: 6px;

    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    line-height: 13px;

    color: #000000;
}

.card__review {
    display: flex;
    width: 100%;
    justify-content: space-between;

    margin-top: 16px;
    margin-right: 15px;

    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    line-height: 13px;

    color: #000000;
}

.card__price {
    display: flex;
    width: 100%;
    justify-content: space-between;

    padding-top: 26px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    line-height: 13px;

    color: #000000;
}

.card_amount {
font-family: 'Roboto', sans-serif;
font-weight: 900;
font-size: 16px;
line-height: 19px;

color: #000000;
}

/* Card - button */

.card__button {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    align-items: center;

    margin-top: 20px;

    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;

    text-transform: uppercase;
}

.card__buy {
    padding: 12px 58px 11px;
    border: 1px solid #00ACDC;
    background: #00ACDC;
    color: white;
    border-radius: 5px;
    
    cursor: pointer;
    
    outline: none;      
}

.card__buy:hover {
    border: 1px solid #00ACDC;
    background: rgb(255, 255, 255);
    color: #00ACDC;
}

.card__button:active {
    transform: scale(0.9);
}