body {
    margin: 10px auto;
}

/* style main */

.card {
    display: block;

    position: relative;
    
    margin: 10px auto;
    
    width: 1200px;
    min-height: 911px;
    height: auto;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../img/backImg.png");
    border-radius: 8px;

    overflow: hidden;

    z-index: 2;
}

.card__body {
    position: absolute;

    padding-left: 179px;
    
    width: 100%;
    height: 100%;

    z-index: 2;
}

.card__title {
    position: absolute;

    padding-top: 313px;
    
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 64px;
    line-height: 77px;

    color: #FFFFFF;
}

.card__title > .kitstyle {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.card__line {
    position: absolute;

    padding-top: 401px;
    padding-left: 2px;

    width: 100px;
    size: 1px;

    color: #C4C4C4;
}

.card__desc {
    position: absolute;

    padding-top: 427px;

    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 22px;
    line-height: 28px;

    color: #FFFFFF;
}

.card__actions {
    position: absolute;
    padding-top: 529px;
    color: white;
    text-decoration: none;
    outline: none;
}

.card__explore:hover {
    text-decoration: none;
    color: black;
}


.card__explore {
    padding: 17px 54px 18px 55px;

    text-align: center;

    background: #EC6732;
    border: 0;
    border-radius: 100px;

    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 19px;

    color: #FFF;

    cursor: pointer;
}

.card__explore:focus {
    outline: none;
    box-shadow: 0 0 6px 2px rgb(251, 241, 237);
}

.card__explore:active {
    transform: scale(0.9);
}

/*  style  card__right-down */

.card__right-down {
    position: absolute;

    margin-top: 394px;
    margin-left: 809px;

    height: 670px;
    width: 533px;

    object-fit: cover;
    border-radius: 8px;
    
    background: url("../img/img.jpg") no-repeat;;
    background-position: center;
    background-size: 100%;
    
    z-index: 2;
}

.card__rd-title {
    position: absolute;

    padding-top: 242px;

    width: 100%;
    height: 100%;

    text-align: center;

    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 49px;
    line-height: 0.9;

    color: #F9F9F9;
    
    z-index: 3;
}

.card__rd-desc {
    position: absolute;

    padding-top: 325px;

    width: 100%;
    height: 100%;

    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 28px;

    color: #F9F9F9;
    text-align: center;
    
    z-index: 3;
}

.card__rd-price {
    position: absolute;
    padding-top: 373px;

    width: 100%;
    height: 100%;

    text-align: center;

    font-family: 'Lato', sans-serif;
    font-size: 53px;
    line-height: 44px;
    font-weight: 900;

    color: #F9F9F9;
    
    z-index: 3;
}


/*  style  card__right-up */

.card__right-up {
    position: absolute;

    margin-top: -452px;
    margin-left: 990px;

    height: 670px;
    width: 531px;

    object-fit: cover;
    border-radius: 8px;

    background-color: white;

    z-index: 2;
}

.card__ru-title {
    position: absolute;
    
    padding-left: 39px;
    padding-top: 471px;

    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;

    color: #363636;

    z-index: 3;
}

.card__around-b {
    position: absolute;

    margin-top: 532px; 
    margin-left: 39px;

    width: 6px;
    height: 6px;
    border: 8px solid #000000;
    border-radius: 50%;
    background-color: #000000;

    z-index: 3;
}

.card__around-o {
    position: absolute;

    margin-top: 532px; 
    margin-left: 94px;

    width: 6px;
    height: 6px;
    border: 8px solid #EC6732;
    border-radius: 50%;
    background-color: white;

    z-index: 3;
}

.card__around-g {
    position: absolute;

    margin-top: 532px; 
    margin-left: 149px;

    width: 6px;
    height: 6px;
    border: 8px solid lightgray;
    border-radius: 50%;
    background-color: lightgray;

    z-index: 3;
}

.card__ru-price {
    position: absolute;

    margin-top: 582px; 
    margin-left: 39px;

    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 53px;
    line-height: 63px;
    color: #515151;

    z-index: 3;
}