* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: auto;
}

/* Левая секция */
.section__left {
    flex: 1 0 50%;
    margin: 0;

    display: flex;
    flex-direction: column;
}

.main__info {
    padding: 5% 15% 7%;
    
    display: flex;
    flex-direction: column;
    height: 85vh;
}

.logo__field {
    flex: 1 0 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h1__field {
    flex: 1 0 40%;

    display: flex;
    align-items: center;
}

.p__field {
    flex: 1 0 40%;

    display: flex;
    align-items: flex-start;
}

.footer__info {
    flex: 0 0 15vh;

    padding-left: 15%;
    padding-right: 15%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Правая секция */
.img__main {
    flex: 1 0 50%;
    margin: 0;

    height: 85vh; /* так же высота у vh равна высоте контента */

    display: flex;
    
    background: url(../img/imgMain.jpg);
    background-position: center;
    background-size: cover;
} 



@media (max-width: 960px) {
    .main {
        display: block;
        width: 100%;
    }
    
    /* Левая секция */
    .section__left {
        display: block;
        width: 100%;
        height: max-content;
    }
    
    .main__info {
        width: 100%;
        height: max-content;
    
        padding: 1% 1% 1%;
    }
    
    .logo__field {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .h1__field h1 {
        flex: 1 0 40%;
        align-items: center;
        text-align: center;
    }
    
    .p__field {
        flex: 1 0 40%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .footer__info {
        flex: 0 0 50px;
    
        padding-left: 3%;
        padding-right: 3%;
    
        display: flex;
        justify-content: space-around;
    }
    
    
    /* Правая секция */
    .img__main {
        display: block;

        background-position: center;
        background-size: cover;

        width: 100%;
        height: 40vh;
    }
}