.find__field {
    border: none;

    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    text-align: center;
    text-transform: uppercase;

    color: #242635;
}

/* Лупа */
.fas  {
    cursor: pointer;
}

.fas .fa-search {
    font-weight: 400;
    font-size: 14px;

    color: #242635;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 85px;
    line-height: 90px;

    color: #242635;
}

.main-text {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #64667A;
}


.footer__info {
    background: #242635;
}

.footer-text {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;

    text-transform: uppercase;

    color: #FFFFFF;
}

/* Стрелка */
.fa-long-arrow-alt-right {
    font-weight: 600;
    font-size: 18px;
    
    color: #FFFFFF;

    cursor: pointer;
}

