.find__field {
    border: none;

    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 14px;

    text-align: center;
    text-transform: uppercase;

    color: #242635;
}



h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 85px;
    line-height: 90px;

    color: #242635;
}

.main-text {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #64667A;
}


.footer__info {
    background: #242635;
}

.footer-text {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;

    text-transform: uppercase;

    color: #FFFFFF;
}


/* Стиль ссылки */
a {
    cursor: pointer;
    text-decoration: none;
}

/* a:focus {
    background-color: #242635;
} */

a:active {
    transform: scale(1.5);
}

a:hover {
    color: green;
}


/* Лупа */
.fas .fa-search {
    font-weight: 400;
    font-size: 14px;

    color: #242635;
}


/* Стрелка */
.fas .fa-long-arrow-alt-right {
    font-weight: 600;
    font-size: 18px;

    color: #FFFFFF;
}